.github
.vscode
01_validacion_actual.md
02_validacion.md
02_validacion_actual.md
03_nvidia.md
04_validacion_actual.md
diagramas
drivers.csv
drivers-utf8.csv
error-devices.txt
error-devices-utf8.txt
logs
logs.md
monitoreo
pnputil-drivers.txt
pnputil-drivers-utf8.txt
remove_path.py
temp-hardware-monitoreo-remote
validacion_actual.md
